body {}

.main__menu {
    margin: 0;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    background-color: blanchedalmond;
}

.main__center {
    display: inline;
    padding: 20px;
}

.main__container {
    padding: 15px;
    margin: 0;
}

.main__content {}


img {
    padding: 15px;
    max-width: 400px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

button {
    font-size: 15px;
    background-color: blanchedalmond;
    border-color: blanchedalmond;
    color: red;
}

#more {
    display: none;
}